/*--------------- LAYOUT ---------------*/
* {box-sizing:border-box}

a.prev{
  width: 4.2%;
  height: auto;
}
a.next{
  width: 4.2%;
  height: auto;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

#banner-btn{
  font-family: Arial, Helvetica, sans-serif;
  flex: initial;
  font-size: medium;
  font-weight: 500;
  height: 40px;
  width: 120px;
  color: rgb(110,135,165);
  background-color:transparent;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid rgb(236, 200, 194);
}
#banner-btn:hover{
  filter: drop-shadow(4px 6px black);
  background-color:rgb(236, 200, 194);
  -webkit-transform: scale(1.25);
  transform: scale(0.90);
}
/* Hides the images by default */
.mySlides {
  display: none;
  filter: drop-shadow(4px 2px 3px rgb(182, 182, 182));
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  /* color: white; */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  color:rgb(122, 148, 180);
  background-color: transparent;
  /* border: 3px solid rgb(83, 14, 148); */
  filter: brightness(75%);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: royalblue;
  background-color: rgba(255, 255, 255, 0.664);
}

/* dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* d/b/i effects */
.active, .dot:hover {
  background-color: rgb(236,200,194);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

p.featured-widget__description{
  font-size: 3vh;
}
p.card-txt{
  font-size: 1.8vh;
}
.header-tags{
  font-size: 4vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
.site-social{
  margin-left: auto;
}
.newsletter{
  margin-left: auto;
}
.price {
  color: grey;
  font-size: 14px;
}
.card {
  box-shadow: 0 2px 6px 0 rgb(191, 191, 191);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  margin-bottom: 2%;
}
.card:hover{
  -webkit-transform: scale(.90);
  transform: scale(1.05);
}
.card button {
  border: none;
  outline: 0;
  padding: 12px;
  background-color: rgb(236,200,194);
  color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card button:hover {
  color: white;
  background-color: #7494b7;
  opacity: 0.7;
}

/* ID(s) # */
#social{
  margin-right: 15px;
}
#social:hover{
  -webkit-transform: scale(1.25);
  transform: scale(1.50);
}

/*Shopping Cart CSS*/
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 10px;
  background: #ff0000;
  color: #fff;
  padding: 1 3px;
  vertical-align: top;
  margin-left: -12px; 
}

/*Cart Icon*/
#onhovercart {

  visibility: hidden;
}
#carticon:hover ~ #onhovercart{
  visibility: visible;
}

/*Slide Show and Hamburger Menu*/
.dropbtn {
  background-color: grey;
  color: white;
  padding: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* slide show css*/
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {
  display: none;

}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*Shopping Cart Pop up Window */

body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #7494b7;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #7494b7;
  color: white;
}
.text-black{
  color: black;
  font-size: 25px;
}

/* Add to cart Message*/
/* The Modal (background) */
.cartmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.cartmodal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.closeMsg {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeMsg:hover,
.closeMsg:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
